---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | RANDOM TANTRUM">
  <main class="rt-text main-centered">
    <h1 class="rt-heading heading-xl">4<span class="glitch">0</span>4</h1>
    <div class="message">
      <p>TANTRUM REDIRECTED</p>
      <a href="/" class="button">RETURN TO CHAOS</a>
    </div>
  </main>
</Layout>
