---
import BaseUrlFixer from "../components/BaseUrlFixer.astro";
import "../styles/index.css";
const { title = "RANDOM TANTRUM" } = Astro.props;
const baseUrl = import.meta.env.BASE_URL || "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/Vaticanus-G3yVG.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <BaseUrlFixer />
  </head>
  <body>
    <slot />
  </body>
</html>
