---
// Import styles
import "../styles/index.css";

// Props
const { title = "RANDOM TANTRUM" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Use relative paths for consistent behavior across environments -->
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link
      rel="preload"
      href="fonts/Vaticanus-G3yVG.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
