---
import BaseUrlFixer from "../components/BaseUrlFixer.astro";
const { title = "RANDOM TANTRUM" } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={baseUrl + "/favicon.svg"} />
    <link
      rel="preload"
      href={baseUrl + "/Vaticanus-G3yVG.ttf"}
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <BaseUrlFixer />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --primary-color: #00c3ff;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  ::selection {
    background-color: var(--primary-color);
    color: white;
  }
</style>
